/* 共通スタイルは外に書く */
.p-article {
  padding: 25px 0;
}

.p-article + .p-article {
  border-top: 1px solid #000;
}

.p-article__imgWrap {
  min-width: 200px;
}

.p-article__image {
  margin: 0 auto;
}

.p-article__text {
  margin-top: 10px;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-article {
    display: flex;
    height: 250px;
  }

  .p-article__imgWrap {
    align-self: center;
  }

  .p-article__title {
    text-decoration: underline;
  }

  .p-article__content {
    margin-left: 20px;
    align-self: center;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-article__content {
    margin-top: 20px;
  }
}