/* 共通スタイルは外に書く */
.l-header {
  padding: 20px 40px;
}

.p-sidebar {
  padding: 20px;
}

.p-sidebar__title {
  color: #f00;
}

.p-sidebarContent {
  margin-top: 20px;
}

.p-sidebarContent__paragraph + .p-sidebarContent__paragraph {
  margin-top: 10px;
}

.p-mainContent {
  padding: 20px;
}

.p-mainContent__title {
  color: #00f;
}

.p-mainContent__linkListWrap {
  margin-top: 20px;
}

.p-mainContent__linkList {
  display: flex;
  list-style-type: none;
}

.p-mainContent__link {
  border:1px solid #d98d30;
  background-color: #333;
  color: #fff;
}

.p-mainContent__textWrap {
  margin-top: 50px;
}

.p-mainContent__dateList + .p-mainContent__dateList {
  margin-top: 10px;
}

.p-mainContent__date {
  font-family: "Roboto-Light";
}

.p-mainContent__dateListText {
  color:  #999;
}

.l-footer {
  padding: 20px 40px;
}

.l-footer__title {
  color: #0f0;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .l-header {
    background-color: #141f40;
  }

  .l-header__image {
    width: 100px;
  }

  .l-main {
    display: flex;
  }

  .p-sidebar {
    height: 100%;
    background-color: #80bfa8;
  }

  .p-sidebar__title {
    font-size: 25px;
  }

  .p-sidebarContent {
    font-size: 18px;
  }

  .p-sidebarContent__emphasis {
    font-size: 10px;
  }

  .p-mainContent {
    width: 100%;
    background-color: #8c2727;
  }

  .p-mainContent__title {
    font-size: 20px;
  }

  .p-mainContent__link + .p-mainContent__link {
    margin-left: 20px;
  }

  .p-mainContent__linkItem {
    padding: 5px 30px;
  }

  .p-mainContent__dateListText {
    font-size: 18px;
  }

  .l-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d98d30;
  }

  .l-footer__label {
    font-size: 18px;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .l-header {
    background-color: #e91e63;
  }

  .l-header__image {
    width: 50px;
  }

  .p-sidebar {
    background-color: #0093b7;
  }

  .p-sidebar__title {
    font-size: 20px;
  }

  .p-sidebarContent {
    font-size: 13px;
  }

  .p-sidebarContent__emphasis {
    font-size: 30px;
  }

  .p-mainContent {
    background-color: #dbd400;
  }

  .p-mainContent__title {
    font-size: 10px;
  }

  .p-mainContent__linkList {
    justify-content: space-between;
  }

  .p-mainContent__link {
    width: 30%;
    text-align: center;
  }

  .p-mainContent__linkItem {
    padding: 5px 0;
  }

  .p-mainContent__dateList {
    display: flex;
    align-items: center;
  }

  .p-mainContent__dateListText {
    margin-left: 20px;
    font-size: 13px;
  }

  .l-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #170e38;
  }

  .l-footer__label {
    font-size: 13px;
    color: #fff;
  }
}