/* 共通スタイルは外に書く */
.l-main {
  max-width: 850px;
  margin: 0 auto;
  padding: 25px 20px;
  border: 1px solid #000;
}

.c-content + .c-content {
  margin-top: 40px;
}

.c-content__title {
  font-weight: bold;
}

.c-content__subTitle {
  font-weight: bold;
}

.c-content__subTitle:nth-child(5) {
  margin-top: 30px;
}

.c-content__text {
  margin-top: 10px;
}

.c-content__header3 {
  text-decoration: underline;
}

.c-content__header3:nth-child(8) {
  margin-top: 25px;
}

.c-content__color {
  color: #4000ff
}

.c-content__wrap {
  word-break: break-all;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .c-content {
    display: flex;
  }

  .c-content__title {
    width: 15%;
  }

  .c-content__description {
    width: 85%;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .c-content__description {
    margin: 0;
  }
}