/* 共通スタイルは外に書く */
.p-company {
  max-width: 850px;
  margin: 0 auto;
  padding: 25px 20px;
  border: 1px solid #000;
}

.p-company__list + .p-company__list {
  margin-top: 40px;
}

.p-company__title {
  font-weight: bold;
}

.p-company__subTitle {
  font-weight: bold;
}

.p-company__subTitle:nth-child(5) {
  margin-top: 30px;
}

.p-company__text {
  margin-top: 10px;
}

.p-company__businessItem {
  text-decoration: underline;
}

.p-company__businessWrap + .p-company__businessWrap {
  margin-top: 30px;
}

.p-company__color {
  color: #4000ff
}

.p-company__link {
  display: block;
  margin-top: 15px;
}

.p-company__map {
  font-size: 14px;
}

.p-company__ad {
  margin-top: 15px;
}

.p-company__management {
  margin-top: 25px;
}

.p-company__nameWrap {
  word-break: break-all;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-company__list {
    display: flex;
  }

  .p-company__title {
    width: 15%;
  }

  .p-company__description {
    width: 85%;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-company__description {
    margin: 0;
  }
}