.l-header {
  position: relative;
  padding: 10px 20px;
  background-image: url(../../../assets/images/common/hero.jpg);
  background-size: cover;
  height: 800px;
}

.l-header__container {
  margin: 0 auto;
  max-width: 1200px;
}

.l-header__image {
  height: 50px;
  width: 50px;
}

.l-header__listWrap {
  display: flex;
  align-items: center;
}

.l-header__listItem {
  display: inline-block;
  color: #fff;
}

.l-header__listItem + .l-header__listItem {
  margin-left: 30px;
}

.l-header__title {
  margin-top: 350px;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: #fff;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .l-header__listWrap {
    justify-content: space-between;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .l-header__listWrap {
    justify-content: end;
  }

  .l-header__hamburger {
    margin-top: 25px;
  }

  .l-header__hamburger,
  .l-header__hamburger::before,
  .l-header__hamburger::after {
    content: '';
    display: block;
    height: 1px;
    width: 25px;
    background-color: #fff;
    position: relative;
  }

  .l-header__hamburger::before {
    bottom: 7px;
  }

  .l-header__hamburger::after {
    top: 6px;
  }
}