.p-blog__listWrap {
  margin-top: 70px;
}

.p-blog__listTitle {
  font-size: 20px;
  font-weight: 400;
  color: #696969;
}

.p-blog__listText {
  margin-top:20px;
  color: #778899;
}

.p-blog__button {
  display: inline-block;
  margin-top: 40px;
  padding: 13px;
  border: none;
  border-radius: 5px;
  background-color: #ffbc28;
  color: #fff;
  font-size: 12px;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-blog {
    padding: 80px 40px;
  }

  .p-blog__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .p-blog__list + .p-blog__list {
    margin-top: 50px;
  }

  .p-blog__list:nth-child(even) {
    flex-direction: row-reverse;
  }

  .p-blog__list:nth-child(even) .p-blog__contentWrap {
    text-align: right;
  }

  .p-blog__image {
    max-height: 250px;
  }
}

@media screen and (max-width: 795px) { /*sp用スタイル */
  .p-blog {
    padding: 80px 15px;
  }

  .p-blog__list {
    margin-top: 35px;
  }

  .p-blog__button {
    width: 100%;
    text-align: center;
  }
}