.p-work {
  background-color: #e2e2e2;
}

.p-work__image {
  margin: 0 auto;
  height: 75px;
}

.p-work__listWrap {
  margin-top: 70px;
}

.p-work__listItem {
  text-align: center;
}

.p-work__listTitle {
  margin-top: 30px;
  color: #696969;
}

.p-work__listText {
  margin-top: 15px;
  color: #778899;
}


@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-work {
    padding: 80px 40px;
  }

  .p-work__listWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 60px;
  }
}

@media screen and (max-width: 795px) { /*sp用スタイル */
  .p-work {
    padding: 80px 15px;
  }

  .p-work__listItem {
    margin-top: 50px;
  }
}
