.p-work {
  margin: 0 auto;
  max-width: 1280px;
  background-color: rgb(231, 231, 231);
}

.p-work__image {
  margin: 0 auto;
  height: 100px;
}

.p-work__listWrap {
  margin-top: 70px;
}

.p-work__listItem {
  text-align: center;
}

.p-work__listTitle {
  margin-top: 30px;
  color: rgb(83, 83, 83);
}

.p-work__listText {
  margin-top: 30px;
  color: rgb(119, 118, 118);
}


@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-work {
    padding: 50px 40px;
  }

  .p-work__listWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 60px;
  }
}

@media screen and (max-width: 795px) { /*sp用スタイル */
  .p-work {
    padding: 50px 15px;
  }

  .p-work__listItem {
    margin-top: 30px;
  }
}
