.c-heading {
  text-align: center;
}

.c-heading::after {
  display: block;
  position: relative;
  margin: 0 auto;
  content: '';
  height: 2px;
  width: 80px;
  top: 30px;
  background-color: #ffe500;
}

.c-heading__title {
  color: #696969;
}

.c-heading__subtitle {
  margin-top: 30px;
  color: #778899;
}
